.section-one-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f5f5dc;
  border-top: 8px solid #d4732a;
  box-shadow: inset 0 0 0 4px #7FA46F33;
}

.section-one-content {
  min-height: 100vh;
}

.section-one-title {
  font-family: var(--font-dellarespira);
  font-size: 2em;
  margin-top: 1.5em;
  color: black;
  text-align: center;
}

.images-wrapper {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin: 2em 0;
}